[Unit]
Description=Coviz
After=syslog.target
After=network.target

[Service]
ExecStart=/home/deployment/coviz/start-coviz.sh 5007
KillMode=control-group

[Install]
WantedBy=multi-user.target
