{% extends base %}

{% block title %}Coviz{% endblock %}

{% block postamble %}
  <style>
    {% include 'assets/css/main.css' %}
  </style>
{% endblock %}

{% block contents %}
  <div id="wrapper" class="divided">

  	<section class="banner style2 orient-center content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right" id="section1">
                <div class="content-custom">
			<header>
	                        <h3 style="margin-bottom: 0;">Coviz</h3>
				<p>Visualizing Covid19 and Public Health data for Portugal <strong>- archived 2023/04/01</strong></p>
			</header>
			<div class="content2">{{ embed(roots.section1) }}</div>
			<div style="display: flex; justify-content: flex-end">{{ embed(roots.section1_controls) }}</div>
			<ul class="actions small">
                                <li><a href="#section2" class="button smooth-scroll small primary">Next &darr;</a></li>
                       </ul>
		</div>
                <div class="image">
                        <!-- <img src="images/banner.jpg" alt="" /> -->
                </div>
        </section>

  	<section class="banner style2 orient-center content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right" id="section2">
                <div class="content-custom">
			<header>
	                        <h3 style="margin-bottom: 0;">Coviz</h3>
				<p>Visualizing Covid19 and Public Health data for Portugal <strong>- archived 2023/04/01</strong></p>
			</header>
			<div class="content2">{{ embed(roots.section2) }}</div>
			<div style="display: flex; justify-content: flex-end">{{ embed(roots.section2_controls) }}</div>
			<ul class="actions small">
                                <li><a href="#section3" class="button smooth-scroll small primary">Next &darr;</a></li>
                                <li><a href="#section1" class="button smooth-scroll small primary">Previous &uarr;</a></li>
                       </ul>
		</div>
                <div class="image">
                        <!-- <img src="images/banner.jpg" alt="" /> -->
                </div>
        </section>

	<section class="banner style2 orient-center content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right" id="section3">
                <div class="content-custom">
			<header>
	                        <h3 style="margin-bottom: 0;">Coviz</h3>
				<p>Visualizing Covid19 and Public Health data for Portugal <strong>- archived 2023/04/01</strong></p>
			</header>
			<div class="content2">{{ embed(roots.section3) }}</div>
			<ul class="actions small">
                                <li><a href="#section4" class="button smooth-scroll small primary">Next &darr;</a></li>
                                <li><a href="#section2" class="button smooth-scroll small primary">Previous &uarr;</a></li>
                       </ul>
		</div>
                <div class="image">
                        <!-- <img src="images/banner.jpg" alt="" /> -->
                </div>
        </section>

	<section class="banner style2 orient-center content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right" id="section4">
                <div class="content-custom">
			<header>
	                        <h3 style="margin-bottom: 0;">Coviz</h3>
				<p>Visualizing Covid19 and Public Health data for Portugal <strong>- archived 2023/04/01</strong></p>
			</header>
			<div class="content2">{{ embed(roots.section4) }}</div>
			<ul class="actions small">
                                <li><a href="#section5" class="button smooth-scroll small primary">Next &darr;</a></li>
                                <li><a href="#section3" class="button smooth-scroll small primary">Previous &uarr;</a></li>
                       </ul>
		</div>
                <div class="image">
                        <!-- <img src="images/banner.jpg" alt="" /> -->
                </div>
        </section>

        <section class="banner style2 orient-center content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right" id="section5">
                <div class="content-custom">
			<header>
	                        <h3 style="margin-bottom: 0;">Coviz</h3>
				<p>Visualizing Covid19 and Public Health data for Portugal <strong>- archived 2023/04/01</strong></p>
			</header>
			<div class="content2">{{ embed(roots.section5) }}</div>
			<ul class="actions small">
                                <li><a href="#section6" class="button smooth-scroll small primary">Next &darr;</a></li>
                                <li><a href="#section4" class="button smooth-scroll small primary">Previous &uarr;</a></li>
                       </ul>
		</div>
                <div class="image">
                        <!-- <img src="images/banner.jpg" alt="" /> -->
                </div>
        </section>

        <section class="banner style2 orient-center content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right" id="section6">
                <div class="content-custom">
			<header>
	                        <h3 style="margin-bottom: 0;">Coviz</h3>
				<p>Visualizing Covid19 and Public Health data for Portugal <strong>- archived 2023/04/01</strong></p>
			</header>
			<div class="content2">{{ embed(roots.section6) }}</div>
			<ul class="actions small">
                                <li><a href="#section7" class="button smooth-scroll small primary">Next &darr;</a></li>
                                <li><a href="#section5" class="button smooth-scroll small primary">Previous &uarr;</a></li>
                       </ul>
		</div>
                <div class="image">
                        <!-- <img src="images/banner.jpg" alt="" /> -->
                </div>
        </section>

	<section class="banner style2 orient-center content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right" id="section7">
                <div class="content-custom">
			<header>
	                        <h3 style="margin-bottom: 0;">Coviz</h3>
				<p>Visualizing Covid19 and Public Health data for Portugal <strong>- archived 2023/04/01</strong></p>
			</header>
                        <div class="content2">{{ embed(roots.section7) }}</div>
			<ul class="actions small">
                                <li><a href="#section6" class="button smooth-scroll small primary">Previous &uarr;</a></li>
                       </ul>
		</div>
                <div class="image">
                        <!-- <img src="images/banner.jpg" alt="" /> -->
                </div>
        </section>

  </div>
{% endblock %}
